body,
html{
	padding: 0;
	margin: 0;
	height: 100%;
}
h1,
h2{
	font-family: 'Open Sans', sans-serif;
	
}
.task-h2 {
	margin: 2px 0px 15px 0px;
}
.container {
	position: relative;
	width: 100%;
	min-height: 100%;
	background: url('https://i.ytimg.com/vi/nSISUDNGdZo/maxresdefault.jpg');
	background: linear-gradient(135deg,rgba(0,0,0,0.5), black);
}
.timer {
	margin: auto;
	padding: 2rem;
	text-align: center;
	color: white;
}
.time {
	font-size: 5rem;
	margin: auto;
	font-family: 'Open Sans', sans-serif;
}
.button {
	display: block;
	padding: 1rem 2rem;
	margin: 0 auto;
	font-size: 1.5rem;
	font-weight: bold;
	font-family: 'Open Sans', sans-serif;
	border-radius: .5rem;
	text-decoration: none;
	-webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.start {
	background-color: dimgray;
}
.reset {
	background-color: dimgray;
}
.start:hover {
    background-color: #00cc00; /* Green */
    color: white;
}
.reset:hover {
    background-color: #ff3333; /* red*/
    color: white;
}
.left-tasks{
	background-color: gray;
	min-height: 100%;
	width: 60%;
	padding-top: 20px;
	overflow: auto;
	float: left;
	
}
.input-area {
	padding-left: 15px;
	margin-bottom: 40px;
}
p {
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	width: 75%;
	word-wrap: break-word;
	
}
input {
	padding: 10px;
	border-radius: 4px;
}
.task-button {
	font-family: 'Open Sans', sans-serif;
	padding: 0px;
	font-size: 15px;
	height: 35px;
	width: 75px;
	margin-left: 10px;
}
.task-list {
	position: relative;
	width: 100%;
	padding-top: 2.5px;
	padding-bottom: 2.5px;
	margin: 10px 0;
	padding-left: 20px;
	background-color: lightgray;
}
.btn-delete { 
	position: absolute;
	margin: 0 auto;
	font-size: .5rem;
	font-weight: bold;
	font-family: 'Open Sans', sans-serif;
	border-radius: .5rem;
	text-decoration: none;
	top: 0;
	right: 7%;
	margin-top: 1.5px;
	display: inline-block;
	font-family: 'Open Sans', sans-serif;
	background-color: #ff3333;
	
}
.btn-delete:hover {
    background-color: #ff3333; /* red*/
    color: white;
}
.right-div {
	width: 38%;
	float: right;
}
.clearfix {
	content: "";
	display: table;
	clear: both;
}
@media(max-width: 700px){
	
	.right-div {
		float: none;
		width: 100%;
	}
	.left-tasks {
		float: none;
		width: 100%;
	}
	
}